.navbar {
    Width: 100%;
}

.list-group {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
  }
.list-group-item {
    background-color: transparent !important;
}
.list-group-item:hover{
    background-color: #00d9ff;
}

#hero {
    background-image: url('gym_bg.jpg');
    width: 101%;
    height: 785px;
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
    display: flex;
    justify-content: space-between; /* Aligns to the edges */
    align-items: center; /* Vertically centers */
    padding: 0 20px; /* Add padding for spacing */
}

#herotext{
    width: 100%;
    height: 100%;
}

#herotextleft{
    color: white;
    margin-left: 30px;
	width: 20%;
}

#herotextleft{
    color: white;
	width: 80%;
}

.form {
    width: 87%;
    margin-left: -11%;
    margin-top: 7%;
}


h3{
	color:white;
}

.mt-3{
	color:white;
}